:root {
    --timing: 1s;
}

html,
body {
    height: 100%;
}

body {
    // background-color: lightslategray;
    background-image: url('https://i.picsum.photos/id/1012/1500/1500.jpg?hmac=lgWrYzLJY3PRQ9uUCB-vo69AFXziDP3haEPPZKIMi5M');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.content {
    margin: auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 1em;

    @for $i from 1 through 3 {
        & h1:nth-child(#{$i})::before {
            content: attr(data-text);
            position: absolute;
            color: white;
            right: 0;
            bottom: 0;
            user-select: text;
            animation: slide 1.5s ease;
            height: 100%;
            display: block;
            animation-delay: $i/10+unquote("s");
            overflow: hidden;

            &::selection {
                color: black;
                background-color: yellow;
            }
        }
    }
}

h1 {
    text-transform: uppercase;
    color: transparent;
    font-size: 350%;
    height: fit-content;
    width: fit-content;
    margin: 0;
    position: relative;
    overflow: hidden;

    &::selection {
        color: black;
        background-color: yellow;
    }
}

@keyframes slide {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0;
    }
}