:root {
  --timing: 1s;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("https://i.picsum.photos/id/1012/1500/1500.jpg?hmac=lgWrYzLJY3PRQ9uUCB-vo69AFXziDP3haEPPZKIMi5M");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
}

.content h1:nth-child(1)::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-animation: slide 1.5s ease;
          animation: slide 1.5s ease;
  height: 100%;
  display: block;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  overflow: hidden;
}

.content h1:nth-child(1)::before::-moz-selection {
  color: black;
  background-color: yellow;
}

.content h1:nth-child(1)::before::selection {
  color: black;
  background-color: yellow;
}

.content h1:nth-child(2)::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-animation: slide 1.5s ease;
          animation: slide 1.5s ease;
  height: 100%;
  display: block;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  overflow: hidden;
}

.content h1:nth-child(2)::before::-moz-selection {
  color: black;
  background-color: yellow;
}

.content h1:nth-child(2)::before::selection {
  color: black;
  background-color: yellow;
}

.content h1:nth-child(3)::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  right: 0;
  bottom: 0;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-animation: slide 1.5s ease;
          animation: slide 1.5s ease;
  height: 100%;
  display: block;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  overflow: hidden;
}

.content h1:nth-child(3)::before::-moz-selection {
  color: black;
  background-color: yellow;
}

.content h1:nth-child(3)::before::selection {
  color: black;
  background-color: yellow;
}

h1 {
  text-transform: uppercase;
  color: transparent;
  font-size: 350%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  position: relative;
  overflow: hidden;
}

h1::-moz-selection {
  color: black;
  background-color: yellow;
}

h1::selection {
  color: black;
  background-color: yellow;
}

@-webkit-keyframes slide {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slide {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */