:root {
    --timing: 1s;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('https://i.picsum.photos/id/1012/1500/1500.jpg?hmac=lgWrYzLJY3PRQ9uUCB-vo69AFXziDP3haEPPZKIMi5M');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
}

.content {
    margin: 0 auto;
    height: fit-content;
    width: fit-content;
    display: flex;
    position: relative;
    justify-content: center;
    overflow: hidden;
    gap: 1em;

    @for $i from 1 through 3 {
        & h1:nth-child(#{$i}) {
            right: 0;
            bottom: 0;
            user-select: text;
            animation: slide 1.5s ease;
            height: 100%;
            display: block;
            animation-delay: $i/10+unquote("s");
        }
    }
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 350%;
    height: fit-content;
    width: fit-content;
    margin: 0;
    left: 0;
    bottom: 0;
    position: relative;

    &::selection {
        color: black;
        background-color: yellow;
    }
}

button.learnmore {
    width: fit-content;
    position: relative;
    background-color: #ebb423;
    color: black;
    margin: 50px auto;
    padding: 15px 40px;
    border: none;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: 
        color .3s ease,
        background-color .25s ease;
}

button.learnmore:hover,
button.learnmore:focus {
    color: white;
    background-color: #283228;
    cursor: pointer;
}

@keyframes slide {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0;
    }
}