:root {
  --timing: 1s;
}

html,
body {
  height: 100%;
}

body {
  background-image: url("https://images.unsplash.com/photo-1729710221382-ee37d2305ff1?q=80&w=2728&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0;
}

.content {
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  gap: 1em;
}
.content h1:nth-child(1) {
  right: 0;
  bottom: -100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-animation: slide 1.5s ease;
          animation: slide 1.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 100%;
  display: block;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.content h1:nth-child(2) {
  right: 0;
  bottom: -100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-animation: slide 1.5s ease;
          animation: slide 1.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 100%;
  display: block;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.content h1:nth-child(3) {
  right: 0;
  bottom: -100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  -webkit-animation: slide 1.5s ease;
          animation: slide 1.5s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  height: 100%;
  display: block;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

h1 {
  text-transform: uppercase;
  color: white;
  font-size: 350%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  left: 0;
  bottom: 0;
  position: relative;
}
h1::-moz-selection {
  color: black;
  background-color: yellow;
}
h1::selection {
  color: black;
  background-color: yellow;
}

button.learnmore {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  background-color: #ebb423;
  color: black;
  margin: 50px auto;
  padding: 15px 40px;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: color 0.3s ease, background-color 0.25s ease;
}

button.learnmore:hover,
button.learnmore:focus {
  color: white;
  background-color: #283228;
  cursor: pointer;
}

@-webkit-keyframes slide {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}

@keyframes slide {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */
