html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siblings {
    display: flex;
    gap: 2px;
    filter: brightness(1);

    & img {
        transition: filter .2s ease-in-out;
    }

    &:hover {
        cursor: pointer;
        & img:not(:hover) {
            filter: brightness(.5);
        }
    }
}